* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.header{
    height: 100px;
    background-color: black;
    border: 3px solid aquamarine;
}
.conteiner{
    width: 80%;
    height: 100%;
    margin: auto;
    
}
.header .conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-evenly;
}
.header h1{
    color: aquamarine;
}
.navbar li{
    font-weight: lighter;
    color: goldenrod;
}
.navbar li a{
    color: goldenrod;
    text-decoration: none;
}

.navbar .active {
    font-weight: bolder;
}